In [4]:
from app import db, DTSchool
import pandas as pd

course = input("Enter the course name: ")
tuition_fee = input("Enter the tuition fee: ")
location = input("Enter the location: ")

school_data = pd.read_sql_query(db.session.query(DTSchool).filter(
    (DTSchool.Course == course) & (DTSchool.Tuition_Fee == tuition_fee) | (DTSchool.Location == location)
    ).statement, db.session.bind)

print(school_data['School'])

0    AMA Computer College
1     Saint John Colleges
Name: School, dtype: object

In [ ]:
from app import db, ScProfiles
import pandas as pd

course = 'Bachelor of Science in Accountancy'
tuition_fee = input("Enter the tuition fee: ")
location = input("Enter the location: ")

school_data = pd.read_sql_query(db.session.query(DTSchool).filter(
    (DTSchool.Course == course) & (DTSchool.Tuition_Fee == tuition_fee) | (DTSchool.Location == location)
    ).statement, db.session.bind)

print(school_data['School'])